[user]
  name = Tomas Kramar
  email = kramar.tomas@gmail.com
[color]
  diff = auto
  ui = auto
[merge]
  tool = threesome
[mergetool "threesome"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
  trustExitCode = true
[color "branch"]
  current = bold cyan reverse
  local = cyan
  remote = yellow
[color "diff"]
  meta = yellow
  frag = cyan
  old = red bold
  new = green bold
  whitespace = red bold reverse
[color "status"]
  added = green bold
  changed = yellow
  untracked = red
  nobranch = red bold reverse
[core]
  excludesfile = ~/.cvsignore
