snippet class
class $1
	$0
end
endsnippet

snippet def
def $1
	$0
end
endsnippet

snippet datehist
date_histogram: {
field: "$1",
	 interval: $2,
	 min_doc_count: 0,
	 extended_bounds: {
		min: @current_range.from.iso8601,
		max: @current_range.to.iso8601,
	 }
},
endsnippet

snippet agg
$1: {
	$2,
	aggs: {
	  ${0:${VISUAL: #aggs}}
	}
}
endsnippet

snippet eeq
expect($1).to eq($2)
endsnippet
